.body{
    font-family: Arial;
    background-color: #f0f0f3;
    /*//#e2ddff*/
    background-image :url("http://localhost:63342/EDI/.idea/file/storenext.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: revert;
    color: white;

}

.AllData{
    background-color: white;
    position: absolute;
    right:45px;
    top: 20px;
    width: 450px;
    height: 350px;
    border: 1px solid #bdb8b8;
    border-radius: 4px;


}



.inputBox input{
    color:  #2d3cc7;
    font-weight: bold;
    height: 1%;
    padding:15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    left: 70px;
    text-align: right;


}



.inputBox{
    position: absolute;
    top: 70px;
}


#menuTypeStructure{
    color: #2d3cc7;
    font-weight: bold;
    height: 8%;
    width: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: 21%;
    left: 65%;
    text-align: right;

}


#menuTypefile{
    /*#79acf1*/
    /*#664793*/
    color: #2d3cc7;
    font-weight: bold;
    height: 8%;
    width: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: 36%;
    right: 15%;
    text-align: right;
}





.AllData h1 {
    position: absolute;
    left: 71%;
    top: 1%;
font-size: 20px;
    color: #4d4a4a;
    border-bottom: 2px solid #4CAF50;
    display: inline;
    padding-bottom: 3px;

}






#Search{

    border-color: #bdb8b8;
    border: 2px solid #011926;
    color: #011926;
    background-color: #79acf1;
    font-size: 15px;
    width: 60%;
    height: 10%;
    position: absolute;
    top: 185%;
    left:20%;
    display: none;

}









#messageRuslt1{
    background-color: white;
    position: absolute;
    right: 511px;
    top: 20px;
    width: 450px;
    height: 350px;
    border: 1px solid #bdb8b8;
    border-radius: 4px;
    color:  #4d4a4a;
    overflow: auto;
}




#messageRuslt1 h1{

    position: relative;
    left: 67%;
    top: 20px;
    font-size: 20px;
    color: #4d4a4a;
    border-bottom: 2px solid #4CAF50;
    display: inline;
    padding-bottom: 3px;
}



#messageRuslt{
    position: relative;
    /*right: 115px;*/
    top: 45px;
    font-size: 17px;
    color: #4d4a4a;
    text-align: right;
    color: #e54141;
    text-indent: 0;
    text-align: center;

}














.upFile{
    background-color: white;
    border: 1px solid #bdb8b8;
    border-radius: 4px;
    position: absolute;
    right:45px;
    top: 385px;
    width: 450px;
    height: 250px;

}




.upFile h1 {
    position: relative;
    left: 85%;
    top: 7%;
    font-size: 20px;
    color: #4d4a4a;
    border-bottom: 2px solid #4CAF50;
    display: inline;
    padding-bottom: 3px;

}




#drop-zone {
    border: 2px dashed #c4bfbf;
    border-radius: 70px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    width: 85%;
    height: 70%;
    background-color: white;
    color:  #4d4a4a;
    position: absolute;
    left: 6%;
    top: 22%;
}



#drop-zone:hover {
    border-color: black;
}

#file-input {
    display: none;
}

/*#upload-icon {*/
/*    font-size: 15px;*/
/*    cursor: pointer;*/
/*    color: #333;*/
/*}*/

#file-name {
    margin-top: 50px;
    font-weight: bold;
}


#upload-icon {
    position: absolute;
    right: 41%;
    bottom: 27%;
    width: 70px;
    height: 30px;
    background-color: #3f4fd3;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 6px;
}

.files{
    top: 500px;
}



#retailer {

    text-align: right;

}



#messageRusltFromFile{
    background-color: white;
    position: absolute;
    right: 511px;
    top: 385px;
    width: 230px;
    height: 250px;
    border: 1px solid #bdb8b8;
    /*border-radius: 4px;*/
    /*color:  #4d4a4a;*/
    /*overflow: auto;*/
}


#messageRusltFromFile1 h {
    position: absolute;
    right: 540px;
    top: 405px;
    font-size: 20px;
    color: #4d4a4a;
    border-bottom: 2px solid #4CAF50;
    display: inline;
    padding-bottom: 3px;
    font-weight: bold;
}














.custom-dropdown {
    position: relative;
    display: inline-block;
}

#selectedValue {
    padding: 10px;
    width: 200px;
}

.options-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #d3d3d3;
    border: 1px solid #ccc;
    color: black;
}

.options-list li {
    padding: 10px;
    cursor: pointer;
}

.options-list li:hover {
    background-color: #020202;
}